<!DOCTYPE html>
<html>
    <body>
        <main>
            <div>
                <center>
                    <hr style="border: 1px dashed; color: rgb(255,176,0);">
                    <p>🄯2025 |
                    <a href="mailto:neilsenecalwork@gmail.com">Email</a> |
                    <a href="https://www.linkedin.com/in/ngsenecal">Linkedin</a> |
                    <a href="https://github.com/ngsenecal">Github</a> |
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQautoplay=1">Tiktok</a></p>
                </center>
            </div>
        </main>
    </body>
</html>