<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <style>
            body{
            margin: 50px 300px 50px 300px; 
            }
            div {
                margin: 50px 50px 50px 50px;
            }
        </style>
    </head>
    <body>
        <header>
            {% include navbar.html %}
        </header>
        <main>
            <center>
                <div>
                    {% for post in site.posts %}
                        {% if post.categories contains page.category %}
                            <p>
                                <img src="\assets\post_img\{{ post.date | date: "%Y-%m-%d" }}\main.jpg" alt="thumb" style="width:128px;">
                                <a href = {{post.url}}>{{ post.title }}</a> ({{ post.date | date: "%m %d, %Y" }}): {{post.summary}}
                            </p>
                            {% endif %}
                    {% endfor %}
                </div>
            </center>
        </main>
        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>