<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <style>
            td {
                vertical-align: center;
            }
            table{
                padding: 15px;
                border-spacing: 30px;
            }
            body {
                margin: 0 auto;
                background-color: black;
            }
        </style>
    </head>
    <body>
        <div style="height: 100vh;">
            <header>
                {% include navbar.html %}
            </header>
                <main>
                    <div style="margin: 0% 5% 0% 5%;">
                        {% for post in site.posts %}
                            {% if post.categories contains page.category %}
                                <p>
                                    <img src="\assets\blog\{{ post.date | date: "%Y-%m-%d" }}\thumb.jpg" alt="thumb" style="width:100px;"> <!--THis is going to throw an error if not jpg-->
                                    <a href = {{post.url}}>{{ post.title }}</a> ({{ post.date | date: "%m %d, %Y" }}): {{post.summary}}
                                </p>
                                {% endif %}
                        {% endfor %}
                    </div>
                </main>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>