<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
    </head>
    <body>
        <header>
            {% include navbar.html %}
        </header>
        <main>
            {% for post in site.posts %}
                <h2>{{ post.title }}</h2>
                <p>Published on {{ post.date | date: "%B %-d, %Y" }} by {{ post.author }}</p>
            {% endfor %}
        </main>
        <footer>
            -This is a footer and it is good-
        </footer>
    </body>
</html>