<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
    </head>
    <body>
        <header>
            {% include navbar.html %}
        </header>
        <main>
            {% for post in site.posts %}
                {% if post.categories contains {page.category} %}
                    <a href = {{post.url}}>{{ post.title }}</a>
                    <p>{{ post.date | date: "%m %d, %Y" }}: {{post.summary}}</p>
                {% endif %}
            {% endfor %}
        </main>
        <footer>
            -This is a footer and it is good-
        </footer>
    </body>
</html>