<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <style>
            body {
                margin: 0px 300px 0px 300px; 
                background-color: black;
            }
        </style>
    </head>
    <body>
        <div style="height: 100vh;">
            <header>
                {% include navbar.html %}
            </header>
                <main>
                    <div>
                        <center>{{content}}</center>   
                    </div>
                </main>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>