<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <style>
            body {
                background-color: black;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div style="height: 100vh;">
            <header>
                {% include navbar.html %}
            </header>
                <main>
                    <div style="margin: 0 auto;">
                        <center>{{content}}</center>   
                    </div>
                </main>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>