<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <style>
            td {
                vertical-align: top;
            }
            body {
                margin: 0px 300px 0px 300px; 
                background-image: url(/assets/files/classicmac.png);
            }   
            table {
                border-spacing: 20px;
            }
        </style>
    </head>
    <div style="background: rgba(200, 200, 200, 0.5); height: 100vh">
        <header>
            {% include navbar.html %}
        </header>
            <main>
                <body>
                <center>
                    <table> <!--border = "1"-->
                        <tr>
                            <th><center>Main Projects</center></th>
                            <th><center>Side Projects</center></th>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    {% for proj in site.pages %}
                                        {% if proj.tags contains 'main' %}
                                            <center>
                                                <p><img src="\assets\proj_img\{{ proj.title }}\thumb.jpg" alt="thumb" style="width:200px;"> <br>
                                                <a href = {{proj.url}}>{{ proj.title }}</a></p>
                                            </center>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <div>
                                    {% for proj in site.pages %}
                                        {% if proj.tags contains 'fun' %}
                                            <center>
                                                <p><img src="\assets\proj_img\{{ proj.title }}\thumb.jpg" alt="thumb" style="width:200px;"> <br>
                                                <a href = {{proj.url}}>{{ proj.title }}</a> <br /></p>
                                            </center>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </table> 
                </center>
            </body>
            </main>
        <footer>
            {% include footer.html %}
        </footer>
    </div>
</html>